<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/shopping</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>


        <mapping class="com.shopping.entity.Evaluation"/>
        <mapping class="com.shopping.entity.Product"/>
        <mapping class="com.shopping.entity.ShoppingCar"/>
        <mapping class="com.shopping.entity.ShoppingCarPriKey"/>
        <mapping class="com.shopping.entity.ShoppingRecord"/>
        <mapping class="com.shopping.entity.ShoppingRecordPriKey"/>
        <mapping class="com.shopping.entity.User"/>
        <mapping class="com.shopping.entity.UserDetail"/>
    </session-factory>
</hibernate-configuration>